.confSidebar__item {
    background-color: #f5f5f5;
}
.confSidebar__item__header {
    padding: 1em 0;
    display: flex;
    flex-flow: row;
}
.confSidebar__item__header__heading {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}
.confSidebar__item__header__button {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 0 1em;
    padding: 0.25em 0.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #212529;
}
.confSidebar__item__header__button--false {
    background-color: #dedede;
}
.confSidebar__item__header__button--true {
    background-color: #28a745;
    color: #fff;
}