@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&family=Lato&display=swap');

:root{
    --pink--main: #E72C70;
    --blue--main: #82D1E4;
    --yellow--main: #F7F249;
    --yellow--off: #C4C03A;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #212529;

    --pink--secondary: #FF4C8E;
    --blue--secondary: #60D1D6;
    --yellow--secondary: #F7E200;

    --pink--pastel: #FF98C0;
    --blue--pastel: #CAE3E8;
    --yellow--pastel: #F8F594;

    --border-radius: 12px;

    --font--family--primary: 'Dosis', sans-serif;
    --font--family--secondary: 'Lato', sans-serif;

    --font-weight--regular: 400;
    --font-weight--semi-bold: 600;
    --font-weight--bold: 700;

    --font-size--small: 1.2rem;
    --font-size--medium: 1.4rem;
    --font-size--large: 1.6rem;
    --font-size--xlarge: 2.4rem;
    --font-size--xxlarge: 3.2rem;
    --font-size--xxxlarge: 4.8rem;

    font-family: 'Dosis', sans-serif;
    font-weight: 400;

    --padding-extra-small: 0.5em;
    --padding-small: 0.75em;
    --padding-medium: 1em;
    --padding-large: 2em;

    --margin-extra-small: 0.5em;
    --margin-small: 0.75em;
    --margin-medium: 1em;
    --margin-large: 2em;
    --margin-xlarge: 3em;
    --margin-xxlarge: 4em;
    --margin-xxxlarge: 5em;

}

body {
    overflow-x: hidden;
    overflow-y: auto !important;
    height: 100vh;
}

.confSidebar__item {
    background-color: white;
    font-size: 1em;
    padding: 1em 1.5em;
    border-bottom: 1px solid #d5d5d5;
}

.confSidebar__item:last-of-type {
    border-bottom: none;
}

.confSidebar__item__header {
    padding: 1em 0;
    display: flex;
    flex-flow: row;
}

.confSidebar__item__header__heading {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.confSidebar__item__toggle {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 0 1em;
    padding: 0.25em 0.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #212529;
}

.confSidebar__item__section {
    display: flex;
    flex-flow: column;
}

.confSidebar__item__section--listing {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap;
}



.input__file__label{
    padding: 2em 1em;
    cursor: pointer;
    border-radius: 0.5em;
    border: 1px dashed #212529;
}

.input__file {
    display: none;
}

/* Color picker styling (does not work with scoped style tags) */
.vacp-color-picker > *{
    font-family: 'Dosis', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
}

.vacp-color-picker, .vacp-format-switch-button, .vacp-copy-button, .vacp-color-input {
    background-color: transparent;
    border: none;
}

.vacp-range-input-label-text{
    display: none;
}

.vacp-color-input{
    border: 2px solid #E72C70;
    border-radius: 0.5em;
}