$pink--main: #E72C70;
$blue--main: #82D1E4;
$yellow--main: #F7F249;
$yellow--off: #C4C03A;
$white: #FFFFFF;
$black: #000000;


$pink--secondary: #FF4C8E;
$blue--secondary: #60D1D6;
$yellow--secondary: #F7E200;

$pink--pastel: #FF98C0;
$blue--pastel: #CAE3E8;
$yellow--pastel: #F8F594;

