@import "./colors";
@import "./typography";

.main__container::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #00000065;
    background-image: linear-gradient(#00000080, #00000080), url("/src/assets/images/donuts-bg.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main__container{
    width: 100vw;
    height: 100vh;
}

.text__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 5.7rem);
    justify-content: center;
    align-items: center;

    h1{
        width: 42%;
        text-align: center;
        font-size: $font__size--title;
        font-family: $font--heading;
        font-weight: $font__weight--heading;
        color: $blue--main;
        word-wrap: break-word;
    }

    p{
        font-size: $font__size--main;
        font-family: $font--main;
        font-weight: $font__weight--main;
        color: $white;
        margin-top: 2rem;
        line-height: 1.8rem;
        text-align: center;
    }

    .button__container{
        width: 40%;
        display: flex;
        justify-content: center;
        
        .button__text{
            font-size: $font__size--btn;
            font-family: $font--heading;
            font-weight: $font__weight--heading;
            text-transform: uppercase;
            color: $black;
            margin-top: 2rem;
            padding: 1.2rem;
            background-color: $yellow--main;
            border-radius: 0.8rem;

            &:hover{
                background-color: $yellow--off;
            }
        }
    }
}