@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;700&family=Lato&display=swap');

$font--main: 'Lato', sans-serif;
$font--heading: 'Dosis', sans-serif;

$font__size--title: 4rem;
$font__size--subtitle: 2rem;
$font__size--main: 1.2rem;
$font__size--nav: clamp(0.9rem, 1vw + 1rem, 1.2rem);

$font__weight--main: 400;
$font__weight--subheading: 600;
$font__weight--heading: 700;